@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Din Pro Bold';
  src: local('Din Pro Bold'), url('/fonts/din-pro-bold.ttf');
}

html, body {
  @apply antialiased bg-default bg-center bg-cover bg-no-repeat min-h-screen
}

button, a {
  @apply hover:brightness-75 transition-all disabled:opacity-75 disabled:hover:brightness-100 disabled:cursor-not-allowed
}

::-webkit-scrollbar {
  width: 9px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-600 hover:brightness-75 transition-all
}

input, select, textarea {
  @apply outline-none focus:ring-2 focus:ring-brand-500 transition-all
}

::selection {
  @apply bg-brand-500 text-white
}

.font-din-pro-bold {
  font-family: 'Din Pro Bold' !important;
}

table thead th:first-child {
  @apply rounded-tl-md
}

table tbody td {
  @apply border-b-2 border-zinc-600
}

::-webkit-slider-thumb {
  @apply w-5 h-5 rounded-full cursor-pointer appearance-none bg-brand-500
}